#core{
  text-align: left;
}
#core h2{
  color: black;
  text-align: center;
  font-weight: 500;
}
.core_box h3{
  font-weight: 500;
  color: #B71C1C }
/*Limited personal info and social media links*/
#info{
  text-align: left;
  color: #ffffff;
  background-color: #424242;
  border-top: #B71C1C 2px solid;
  border-bottom: #B71C1C 2px solid;}
#info ul{
  margin: 0px;
  padding: 0px;
}
#info li{
  margin: 0px;
  padding-left: 0px;
  display: inline;}
#info h2{
  padding-left: 0px;
  margin-left: 0px;
  font-weight: 500;
  color: #ffffff;}
#info a{
  color: #ffffff;
}
